.memo-modal-wrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3.5px);
  z-index: 40;
}

.memo-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 95%;
  height: 89%;
  z-index: 50;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: blanchedalmond;
  overflow: hidden;
}

.memo-modal .memo-scroll {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  padding-bottom: 60px;
  overflow-y: auto;
}
.memo-scroll::-webkit-scrollbar {
  width: 7px;
}
.memo-scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: tan;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.memo-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

.memo-modal-wrap .off-modal {
  width: 15px;
  position: absolute;
  top: 18px;
  right: 18px;
}
.memo-modal-wrap .off-modal img {
  width: 100%;
}

.form-memo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  gap: 14px;
}

.form-memo .title {
  flex-shrink: 0;
  font-size: 25px;
  padding-right: 50px;
}
.form-memo .title::after {
  content: "";
  display: block;
  margin-top: 5px;
  height: 1px;
  background-color: tan;
}

#txtMemo {
  flex-shrink: 0;
  width: 160px;
  height: 160px;
  padding: 20px;
  border: none;
  resize: none;
  text-align: justify;
  word-break: break-all;
  background-color: white;
  box-shadow: 0 0 3px rgba(32, 24, 18, 0.3);
}
#txtMemo:focus {
  background-color: rgb(255, 218, 97);
}

.form-memo .btn-memo-post {
  align-self: flex-end;
  flex-shrink: 0;
  width: 70px;
  height: 70px;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  background-color: black;
  box-shadow: 0 0 5px rgba(32, 24, 18, 0.6);
}
.form-memo .btn-memo-post:hover {
  color: rgb(255, 218, 97);
}

.memo-modal .wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: calc(100vw - 223px);
  max-width: 1080px;
  min-width: 496px;
  min-height: 500px;
  padding: 50px 40px 40px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(32, 24, 18, 0.6);
  background-color: tan;
}

.memo-cont {
  position: relative;
  width: 160px;
  height: 160px;
  padding: 20px;
  background-color: rgb(255, 218, 97);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.memo-cont::before {
  content: "";
  display: block;
  width: 20px;
  height: 60px;
  position: absolute;
  top: -30px;
  left: 70px;
  transform: rotate(85deg);
  background-color: rgba(255, 189, 67, 0.4);
  backdrop-filter: blur(0.5px);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.memo-cont p {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.memo-cont p::-webkit-scrollbar {
  width: 7px;
}
.memo-cont p::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(255, 190, 0, 0.7);
  background-clip: padding-box;
  border: 2px solid transparent;
}
.memo-cont p::-webkit-scrollbar-track {
  background-color: transparent;
}

/* 메모 길이에 따른 스타일 */
.memo-cont .short-memo {
  font-size: 25px;
  text-align: center;
}
.memo-cont .regular-memo,
.memo-cont .long-memo {
  width: 110%;
  padding-right: 6px;
}
.memo-cont .regular-memo {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.5px;
}
.memo-cont .long-memo {
  font-size: 14px;
  text-align: justify;
  word-break: break-all;
}

/* 메모 삭제 버튼 */
.memo-delete-btn {
  position: absolute;
  top: 7px;
  right: 8px;
  width: 10px;
  height: 10px;
  background: url(../images/off_icon.png) no-repeat center/cover;
  opacity: 0;
}
.memo-cont:hover .memo-delete-btn {
  opacity: 100;
}
