@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/* reset */
* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* layout */

body {
  background-color: #E8F7FB;
}

.container {
  position: relative;
  width: 100vw;
  min-width: 1250px;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.cont-tablet{
  position: fixed;
  width: 780px;
  left: 49%;
  bottom: 53%;
  transform: translateX(-60%);
  z-index: 10;
}

.cont-tablet .tit-womd {
  width: 256px;
  position: relative;
  left: 50%;
  transform: translateX(-16%) translateY(460%);
  z-index: 30;
}
.cont-tablet .tit-womd img{
  width: 100%;
}

.img-tablet {
  width: 100%;
  position: absolute;
  z-index: 20;
}

.date-clock-tablet {
  position: absolute;
  left: 50%;
  top: 150%;
  transform: translateX(-6%);
  z-index: 30;
  text-align: center;
  font-family: 'pretendard';
}

.date-clock-tablet .date-tablet {
  font-size: 18px;
  letter-spacing: -1.7%;
  margin-bottom: 6px;
  font-weight: 400;
}

.date-clock-tablet .clock-tablet {
  font-size: 40px;
  letter-spacing: -1.7%;
  font-weight: 600;
}

.cont-what-food {
  position: relative;
  left: 65%;
  top: 58%;
}

.btn-what-food {
  width: 170px;
  position: absolute;
}

.btn-what-food img {
  width: 100%;
  position: absolute;
  top: 140px;
  left: 100px;
}

.img-line-note {
  width: 400px;
  position: absolute;
}

.img-pencil {
  width: 150px;
  position: absolute;
  top: 160px;
  left: 196px;
}

.img-diary {
  width: 700px;
  position: absolute;
  top: 380px;
  left: -30px;
}

.btn-calc {
  width: 168px;
  position: absolute;
}

.btn-calc img {
  width: 100%;
}

.img-glasses {
  width: 280px;
  position: absolute;
  top: 310px;
  left: 80px;
}

.btn-memo {
  width: 270px;
  position: absolute;
  right: 160px;
  top: 290px;
}

.btn-memo img {
  width: 100%;
}

.btn-coffee {
  width: 286px;
  position: absolute;
  top: 50px;
  left: 50px;
}

.btn-coffee img {
  width: 100%;
}

.btn-calc {
  position: absolute;
  top: 30px;
  left: 400px;
}

.cont-weather {
  position: absolute;
  width: 182px;
  top: 42px;
  right: 450px;
}

.cont-weather img {
  width: 100%;
}

.img-pen{
  width: 166px;
  position: absolute;
  right: 110px;
  top: 230px;
  transform: rotate(-10deg);
}

.img-pot {
  width: 188px;
  position: absolute;
  right: 180px;
  top: 30px;
}