/* main layout */
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: var(--font);
  background-color: #e8f7fb;
}

.container {
  position: relative;
  width: 1250px;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.cont-tablet {
  position: fixed;
  width: 780px;
  height: 556px;
  left: 49%;
  bottom: -80px;
  transform: translateX(-60%);
  z-index: 20;
}
.cont-tablet .tit-womd {
  width: 256px;
  position: absolute;
  top: 200px;
  left: 350px;
}
.cont-tablet .tit-womd img {
  width: 100%;
}
.img-tablet {
  width: 100%;
  height: fit-content;
  position: absolute;
}

.date-clock-tablet {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  left: 46%;
  bottom: 420px;
  text-align: left;
  font-family: "pretendard";
}
.date-clock-tablet .date-tablet {
  font-size: 18px;
  margin: 6px 20px;
  text-align: center;
  font-weight: 400;
}
.date-clock-tablet .clock-tablet {
  /* width: 100%; */
  margin: 0 20px;
  font-size: 40px;
  font-weight: 600;
}

.cont-what-food {
  width: 400px;
  position: absolute;
  left: 65%;
  top: calc(100vh - 50%);
}
.cont-what-food .img-line-note {
  width: 100%;
}

.btn-what-food {
  width: 170px;
  position: absolute;
  z-index: 10;
}

.btn-what-food img {
  width: 100%;
  position: absolute;
  top: 140px;
  left: 100px;
}

.img-line-note {
  width: 400px;
  position: absolute;
}

.img-pencil {
  width: 175px;
  position: absolute;
  top: 164px;
  left: 190px;
}

.img-diary {
  width: 700px;
  position: absolute;
  top: 380px;
  left: -30px;
}

.img-glasses {
  width: 280px;
  position: absolute;
  top: 310px;
  left: 80px;
}

.btn-memo {
  width: 270px;
  position: absolute;
  right: 100px;
  top: 250px;
}

.btn-memo img {
  width: 100%;
}

.img-pen {
  width: 166px;
  position: absolute;
  right: 50px;
  top: 220px;
  transform: rotate(-10deg);
}

.btn-coffee {
  width: 286px;
  position: absolute;
  top: 50px;
  left: 50px;
}

.btn-coffee img {
  width: 100%;
}

.btn-calc {
  position: absolute;
  width: 168px;
  top: 70px;
  left: 400px;
}

.btn-calc img {
  width: 100%;
}

.cont-weather {
  position: absolute;
  width: 182px;
  top: 102px;
  right: 430px;
}

.cont-weather img {
  width: 100%;
}

.img-pot {
  width: 188px;
  position: absolute;
  right: 180px;
  top: 30px;
}

@media screen and (max-height: 750px) {
  .cont-tablet {
    bottom: -120px;
  }

  .btn-calc {
    top: 40px;
  }

  .cont-weather {
    top: 60px;
  }
}
