@keyframes rotate {
  100% {
    transform: translateY(-62%);
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Modal */
.modal-wrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 40;
}

.backdrop {
  position: fixed;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  z-index: 40;
}

#modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: calc(50vh - 250px);
  left: calc(50vw - 400px);
  width: 800px;
  height: 500px;
  z-index: 50;
  border-radius: 40px;
  border: 5px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: white;
}

#modal .modal-tit {
  font-size: 40px;
  text-align: center;
  margin: 50px 0 40px;
}

.what-food-wrap {
  font-size: 60px;
  width: 500px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-weight: 700;
  overflow: hidden;
  background-color: white;
  border: 5px solid #eaeaea;
  box-shadow: inset 0 0 6px 3px rgba(118, 118, 118, 0.3);
  border-radius: 10px;
  z-index: 1;
}

.what-food-list {
  list-style: none;
  font-size: inherit;
  transition: all 0.2s;
}
.move-list {
  filter: blur(10px);
  animation: rotate 1.5s infinite;
}

.list-item {
  font-size: inherit;
  height: inherit;
}

.btn-choose {
  flex-shrink: 0;
  position: relative;
  width: 200px;
  height: 52px;
  font-size: 20px;
  font-weight: 800;
  margin: 50px auto;
  color: white;
  border-radius: 50px;
  z-index: 0;
}
.btn-choose::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  filter: blur(5px);
  border-radius: 50px;
  opacity: 0;
  animation: glowing 20s linear infinite;
  /* transition: opacity 0.3s ease-in-out; */
  z-index: -1;
}
.btn-choose:hover::before {
  opacity: 1;
}
.btn-choose::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  border-radius: 50px;
  left: 0;
  top: 0;
}
.btn-choose:active::after {
  background: transparent;
}

.btn-reset {
  flex-shrink: 0;
  width: 200px;
  height: 52px;
  font-size: 20px;
  font-weight: 800;
  margin: 50px auto;
  color: white;
  border-radius: 50px;
  background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  background-size: 300% 100%;
  transition: all 0.4s ease-in-out;
}
.btn-reset:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.hidden {
  display: none;
}
