@keyframes rotate {
  /* 0% {
    transform: translateY(0);
  } */
  /* 25% {
    transform: translateY(-20%);
  } */
  /* 50% {
    transform: translateY(-80%);
  } */
  /* 75% {
    transform: translateY(-60%);
  } */
  100% {
    transform: translateY(-66.6666%);
  }
}

/* Modal */
.modal-wrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 40;
}

.backdrop {
  position: fixed;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  z-index: 40;
}

#modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: calc(50vh - 250px);
  left: calc(50vw - 400px);
  width: 800px;
  height: 500px;
  z-index: 50;
  border-radius: 40px;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: white;
}

#modal .modal-tit {
  font-size: 40px;
  text-align: center;
  margin: 50px 0 50px;
}

.what-food-wrap {
  font-size: 60px;
  width: 600px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-weight: 700;
  overflow: hidden;
  background-color: #fff8d0;
  border-radius: 50px;
  transform: translate3d(0, 0, 0);
}

.what-food-list {
  list-style: none;
  /* animation: rotate 1.5s infinite; */
}

.list-item {
  font-size: 30px;
  color: rgb(255, 191, 0);
}

.selected {
  font-size: inherit;
}

#modal .btn-choose {
  font-size: 22px;
  padding: 10px 20px;
  margin: 50px auto;
  color: white;
  border-radius: 50px;
  background-color: black;
}

.hidden {
  display: none;
}
